.smile-tabs {
  width: 100%;
  .smile-tabs__nav {
    width: 100%;
    display: flex;
    // justify-content: space-around;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid $color-005;
  }

  .smile-tabs__item {
    padding: 0 16px;
    height: 100%;
    box-sizing: border-box;
    line-height: 51px;
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: normal;
    color: $color-6;
    position: relative;
    cursor: pointer;
    &.is-active{
      color: $primary-color;
    }
  }
  .smile-tabs__line {
    position: absolute;
    left: 0;
    border-bottom: 2px solid $primary-color;
    height: 50px;
  }
}